@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* styles.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
header{
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    width: 100%;
    top: 0;
}
#theme-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: #000;
    cursor: pointer;
}
/*navbar*/
nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
}
/*navbar*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    gap: 50px;
}

nav a {
    color: white;
    position: relative;
    text-decoration: none;
}
.nav-bar-navigation{
    display: flex;
    align-items: center;
    gap: 20px;
}

#conteudo {
    padding: 20px;
}

.active::before{
    content:'' ;
    position: absolute;
    top: 100%;
    z-index: 9999;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    animation: bar-subline .75s ease;
}

@keyframes bar-subline{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

/*Home*/
#sec-1-home{
    background-color: #000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-sec-1-home{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    color: #fff;
}
.home-background{
    height: 100%;
    width: 100%;
}
.title-sec-1{
    animation: animation-text-1 1s ease;
}
.subtitle-sec-1{
    animation: animation-text-2 1s ease;
}
.text-sec-1{
    animation: animation-text-3 1s ease;
}
@keyframes animation-text-1{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes animation-text-2{
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes animation-text-3{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
/*----carrosel-automatico----*/
#carrosel-automatico{
    overflow: hidden;
}
.marquee {
        width: 100%;
        overflow: hidden;
        position: relative;
}

.track {
        display: flex;
        animation: marquee 30s linear infinite;
        gap: 20px;
}

.itemm {
        flex: 0 0 auto;
        /* Impede que os itens encolham ou expandam */
        margin-right: 15px;
}

@keyframes marquee {
    0% {
            transform: translateX(0);
    }

    100% {
            transform: translateX(-100%);
    }
}
.marquee1 {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.track1 {
    display: flex;
    animation: marquee1 30s linear infinite;
    gap: 20px;
}

.itemm1 {
    flex: 0 0 auto;
    /* Impede que os itens encolham ou expandam */
    margin-right: 15px;
}

@keyframes marquee1 {
0% {
        transform: translateX(-100%);
}

100% {
        transform: translateX(0%);
}
}
/*----carrosel-automatico----*/
/*----sec1----*/
.section-type1,.section-type2{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 20%;
    margin-right: 20%;
}
.section-type1 > h2{
    margin-bottom:20px ;
}
.container-sec-type-1{
    display: flex;
}
.img-sec-1{
    padding: 0 15px;
    width: 50%;
    height: 200px;
    background-color: #000;
    border-radius: 10px;
}
.text-sec-type1{
    padding: 0 15px;
    width: 50%;
}
/*----sec1----*/
/*animation*/
.js .anime {
    opacity: 0;
    transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
    opacity: 1;
    transform: translate3D(0px, 0px, 0px);
    transition: 1s all ease;
}
.js .anime2 {
    opacity: 0;
    transform: translate3D(50px, 0px, 0px);
}

.js .anime-init2 {
    opacity: 1;
    transform: translate3D(0px, 0px, 0px);
    transition: 1s all ease;
}


.js3 .anime3 {
    opacity: 0;
    transform: scale(0.8);
}

.js3 .anime-init3 {
    opacity: 1;
    transform: scale(1);
    transition: 0.4s ease-out;
}

.js4 .anime4 {
    opacity: 0;
    transform: translateX(-100%);
}

.js4 .anime-init4 {
    opacity: 1;
    transform: translateX(0);
    transition: 0.5s ease-out;
}

.js5 .anime5 {
    opacity: 0;
    transform: translateY(50px);
}

.js5 .anime-init5 {
    opacity: 1;
    transform: translateY(0);
    animation: 0.6s ease-out;
    transition: 0.5s ease-out;
}
.js6 .anime6 {
    opacity: 0;
    transition: 0.5s ease-out;
}

.js6 .anime-init6 {
    opacity: 1;
}
.js7 .anime7 {
    opacity: 0;
    transform: translateY(-50px);
}

.js7 .anime-init7 {
    opacity: 1;
    transform: translateY(0);
    animation: 0.6s ease-out;
    transition: 0.5s ease-out;
}
/*animation*/
/*accordian*/

.accordion-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 /* acordeon */
 #FAQ{
    padding: 70px 0;
 }
 .title-faq{
    text-align: center;
    font-size: clamp(22px, 4vw, 52px);
 }
 .accordion {
    cursor: pointer;
    padding: 10px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 16px;
    color: #fff;
    text-align: left;
    margin-top: 15px;
    background: #000;
    border-radius: 10px;
}

.active,
.accordion:hover {
    color: #999;
}

.btn-sec-1:hover {
    transition: .5s !important;
    background-color: #fff !important;
    color: rgb(0, 176, 186) !important;
}

.panel {
    width: 60%;
    margin: 0 auto;
    font-size: 20px !important;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
    text-align: start;
    border: 1px solid transparent;
    color: #000;
    background: transparent !important;
}

.accordion-icon {
    transition: transform 0.4s ease-out;
}

.rotated {
    transform: rotate(180deg);
}

.panel.open {
    padding: 15px 20px !important;
}

.panel>p {
    font-weight: 300 !important;
    margin: 15px 0;
}




    
/*accordian*/